#course-list-item {
    -fx-background-color: white;
    -fx-background-radius: 6px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.06), 6, 0, 0, 2);
}

#course-list-item:hover {
    -fx-background-color: #fbfbfb;
}

#course-list-item:pressed {
    -fx-background-color: #f5f5f5;
}

#name-label {
    -fx-font-weight: bold;
    -fx-text-fill: #3e3e3e;
}

#sub-label {
    -fx-font-size: 16px;
    -fx-text-fill: #838383;
}