@import url("fonts.css");

.root {
    -fx-font-family: "RSU";
}

#container {
    -fx-background-color: #fafafc;
}

#header-label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

#item {
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 6, 0, 0, 2);
    -fx-text-fill: #3e3e3e;
    -fx-font-size: 16px;
    -fx-padding: 4px 20px 4px 20px;
}

#item:hover {
    -fx-background-color: #f8f8f8;
}

#item:pressed {
    -fx-background-color: #f5f5f5;
}