@import url("fonts.css");
@import url("scroll_bar.css");
@import url("course_list_item.css");
@import url("sidebar.css");
@import url("course_details.css");
@import url("pass_button.css");
@import url("prerequisite_list.css");
@import url("prerequisite_list_item.css");

.root {
    -fx-font-family: "RSU";
    -fx-font-size: 20px;
}

.scroll-pane {
    -fx-background: #fafafc;
}

#course-section-label {
    -fx-font-family: "TH Sarabun New";
    -fx-text-fill: #707070;
    -fx-font-size: 28px;
    -fx-padding: 20px 0 0 10px;
}

.tooltip {
    -fx-background-color: white;
    -fx-background-radius: 24px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 6, 0, 0, 2);
    -fx-text-fill: #3e3e3e;
    -fx-font-size: 16px;
    -fx-padding: 4px 10px 4px 10px;
}

#header {
    -fx-background-color: #F4F4F8;
}

#header-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #555556;
    -fx-padding: 4px 0 0 0;
}

.diff-easy {
    -fx-background-color: #66D16B;
}

.diff-medium {
    -fx-background-color: #FFAA46;
}

.diff-hard {
    -fx-background-color: #FF6A46;
}