#prerequisite-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #4B4B4B;
}

#prerequisite-type {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #8E8E8E;
}