.scroll-bar {
    -fx-background-color: #fafafc;
}

.scroll-bar .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 2em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 10 0 0;
}